<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="nome" placeholder="nome unidade">
  <input type="text" formControlName="descricao" placeholder="descrição">
  <button type="submit" [disabled]="form.invalid">Adicionar</button>
  <span *ngIf="errorAddUnidade$ | async as errorAddUnidade" style="color: red;">ERRO AO REALIZAR REQUISIÇÃO! {{errorAddUnidade.message}}</span>
</form>

<ul>
  <li *ngFor="let unidade of lista$ | async">{{unidade.nome}}, desc: {{unidade.descricao}}</li>
</ul>